{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skins/style.css' %}">
    <title>skinchecker</title>
    <link rel="icon" href="./../../static/skins/images/favicon.ico">
</head>

<body>
    <header>
        <div>Logo</div>
        <div>skinchecker</div>
        <div class="header-menu">
            <a href="#">Home</a> |
            <a href="#">Check skins</a> |
            <a href="#">My skins</a> |
            <a href="#">Browse Skins</a>
        </div>
    </header>
    {% if data %}
    <ul>
        {% for item in data %}
        <li>
            <strong>{{ item.name }}</strong> - Price: {{ item.suggested_price }} EUR<br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No data available.</p>
    {% endif %}

</body>

</html>