{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skins/style.css' %}">
    <title>skinchecker</title>
    <link rel="icon" href="./../../static/skins/images/favicon.ico">
</head>

<body>

    <header>
        <div>Logo</div>
        <div>skinchecker</div>
        <div class="header-menu">
            <a href="#">Home</a> |
            <a href="#">Check skins</a> |
            <a href="#">My skins</a> |
            <a href="#">Browse Skins</a>
        </div>
    </header>

    <section class="item-container">
        {% if data %}
        {% for item in data %}
        <div class="single-item">
            <div>
                <strong> {{ item.name }}</strong>
            </div>
            <div class="price-container">
                <strong>Price</strong> {{ item.suggested_price|format_price_in_euro }} EUR
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>No data available.</p>
        {% endif %}
    </section>

    <footer>
        <div>Logo</div>
        <div>skinchecker</div>
        <div class="footer-socials">
            <a href="https://github.com/PascalNehlsen/skinchecker" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/pascal-nehlsen/" target="_blank">LinkedIn</a>
        </div>
    </footer>
</body>

</html>